@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

.button1 {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background: rgb(6, 14, 131);
  background: linear-gradient(0deg, rgb(6, 14, 131) 0%, rgb(12, 25, 180) 100%);
  border: none;
}
.button1:hover {
  background: linear-gradient(to top, rgb(0, 255, 200) 0%, rgb(2, 126, 251) 100%);
}

.button2 {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background: rgb(6, 14, 131);
  background: linear-gradient(0deg, rgb(96, 9, 240) 0%, rgb(129, 5, 240) 100%);
  border: none;
}
.button2:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.button4 {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  border: none;
}
.button4:hover {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}

.button5 {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2pㄞx 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  background: linear-gradient(0deg, rgb(255, 27, 0) 0%, rgb(251, 75, 2) 100%);
}
.button5::before, .button5::after {
  content: "";
  position: absolute;
  background: #f0094a;
  height: 2px;
  width: 0px;
  right: 0;
  top: 0;
  transition: 400ms ease all;
}
.button5::after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.button5:hover {
  background: transparent;
  border: none;
  color: #f0094a;
}
.button5:hover:before, .button5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.button6 {
  position: relative;
  width: 130px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 5px;
  color: white;
  background: radial-gradient(circle, rgb(247, 150, 192) 0%, rgb(118, 174, 241) 100%);
}
.button6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
.button6:hover {
  color: rgb(118, 174, 241);
  background: transparent;
  box-shadow: none;
}
.button6::before, .button6::after {
  content: "";
  display: block;
  width: 0;
  height: 0.5px;
  box-shadow: -4px -4px 5px rgb(255, 255, 255), 7px 7px 20px rgba(0, 0, 0, 0.4), 4px 4px 5px rgba(0, 0, 0, 0.3);
  transition: all 500ms ease-in-out;
}
.button6::before {
  position: absolute;
  top: 0;
  left: 0;
}
.button6:hover::before {
  width: 100%;
}
.button6::after {
  position: absolute;
  right: 0;
  bottom: 0;
}
.button6:hover::after {
  width: 100%;
}
.button6 span::before, .button6 span::after {
  content: "";
  display: block;
  width: 1px;
  height: 0;
  box-shadow: -4px -4px 5px rgb(255, 255, 255), 7px 7px 20px rgba(0, 0, 0, 0.4), 4px 4px 5px rgba(0, 0, 0, 0.3);
  transition: all 500ms ease-in-out;
}
.button6 span::before {
  position: absolute;
  bottom: 0;
  left: 0;
}
.button6 span:hover::before {
  height: 100%;
}
.button6 span::after {
  position: absolute;
  top: 0;
  right: 0;
}
.button6 span:hover::after {
  height: 100%;
}

.button7 {
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
}

.button7_text::after, .button7_text::before, .button7::after, .button7::before {
  content: "";
  position: absolute;
  background-color: rgb(251, 75, 2);
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.9), -4px -4px 5px 0 rgba(255, 255, 255, 0.9), 7px 7px 20px 0 rgba(0, 0, 0, 0.2), 4px 4px 5px 0 rgba(90, 41, 41, 0.3);
  transition: all 300ms ease;
}

.button7 {
  position: relative;
  width: 130px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 5px;
  line-height: 40px;
  font-weight: 500;
  background: linear-gradient(0deg, rgb(255, 151, 0) 0%, rgb(255, 75, 2) 100%);
  cursor: pointer;
  transition: all 300ms ease;
}
.button7:hover {
  background: transparent;
}
.button7:hover::before {
  height: 100%;
}
.button7:hover::after {
  width: 100%;
}
.button7:hover .button7_text {
  color: rgb(251, 75, 2);
}
.button7::before {
  right: 0;
  bottom: 0;
  width: 2px;
  height: 0%;
}
.button7::after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
}
.button7_text {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
}
.button7_text:hover::before {
  height: 100%;
}
.button7_text:hover::after {
  width: 100%;
}
.button7_text::before {
  left: 0;
  top: 0;
  width: 2px;
  height: 0%;
}
.button7_text::after {
  left: 0;
  top: 0;
  width: 0%;
  height: 2px;
}

.button8 span::after, .button8 span::before, .button8::after, .button8::before {
  content: "";
  display: inline-block;
  background-color: rgb(255, 231, 207);
  transition: all 0.3s ease;
  position: absolute;
  bottom: 0;
  right: 0;
}

.button8 {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  position: relative;
  background-color: #f0ecfc;
  line-height: 42px;
  padding: 0;
  border: 0;
  background-image: linear-gradient(315deg, #b1320f 0%, #e6d6d0 74%);
}

.button8:hover {
  background-image: linear-gradient(315deg, #f1c3b6 0%, #3a1508 74%);
}
.button8:hover::before {
  width: 100%;
}
.button8:hover::after {
  height: 100%;
  border-radius: 0% 0% 50% 0%;
}
.button8:hover span {
  color: rgb(255, 231, 207);
}
.button8:hover span::before {
  width: 100%;
}
.button8:hover span::after {
  height: 100%;
}
.button8::before {
  width: 0;
  height: 2px;
}
.button8::after {
  width: 2px;
  height: 0;
}
.button8 span::before {
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
}
.button8 span::after {
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
}

.button9 {
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
}

.button9:hover::after, .button9:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

.button9 {
  position: relative;
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  color: white;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 300ms ease;
}
.button9:hover::after {
  transform: rotate(180deg) scale(2);
}
.button9::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  background-color: #1fd1f9;
  background: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 300ms ease;
}

.button11 {
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  background: linear-gradient(0deg, #ffa07a 10%, #cd5c5c 100%);
  overflow: hidden;
  position: relative;
}
.button11:hover {
  opacity: 0.7;
}
.button11:active {
  opacity: 1;
  box-shadow: inset -5px -5px 10px 0 rgba(255, 255, 255, 0.2), inset 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.button11::before {
  content: "";
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 5px;
  animation: flash 3s ease-out infinite;
}

@keyframes flash {
  0% {
    -webkit-transform: scale(0) rotate(-30deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(-30deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(-30deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(20) rotate(-30deg);
    opacity: 0;
  }
}
.button12 {
  position: relative;
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  perspective: 230px;
  cursor: pointer;
}
.button12:hover .button12_front {
  color: transparent;
  transform: rotateX(-90deg);
}
.button12:hover .button12_back {
  transform: rotateX(0deg);
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
}
.button12 span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  background: linear-gradient(0deg, rgb(0, 172, 238) 0%, rgb(2, 126, 251) 100%);
  transform-origin: 50% 50% -20px;
  transition: all 300ms;
}
.button12_front {
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
}
.button12_back {
  transform: rotateX(90deg);
}

.button13 {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  height: 42px;
  position: relative;
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}

.button13:hover {
  color: #fff;
}

.button13::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 5px;
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.6), -4px -4px 5px 0px rgba(255, 255, 255, 0.6), 7px 7px 20px 0px rgba(0, 0, 0, 0.1333333333), 4px 4px 5px 0px rgba(0, 0, 0, 0.0666666667);
  transition: all 0.5s ease;
}

.button13:hover::after {
  top: 0;
  height: 100%;
}

.button13:active {
  top: 2px;
}

.button14 {
  position: relative;
  z-index: 1;
  width: 130px;
  height: 40px;
  padding: 0;
  background: orange;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}
.button14:hover {
  color: black;
}
.button14::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 5px;
  background: linear-gradient(180deg, #fdeb71 10%, #f8d800 100%);
  transition: all 500ms ease-in-out;
}
.button14:hover::after {
  height: 100%;
  top: auto;
  bottom: 0;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  height: calc(100vh - 2rem);
  background-color: #e0e5ec;
}

h1 {
  text-align: center;
  color: #353535;
  font-family: "Cormorant Garamond", serif;
  font-size: 50px;
}

p {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #676767;
}

button {
  margin: 20px;
  font-family: "Lato", sans-serif;
}

footer {
  text-align: center;
  font-family: "Andale Mono", monospace;
  font-size: 18px;
  font-weight: 300;
  color: #676767;
}

.buttons {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
