.button5{
    
        width: 130px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow:inset 2px 2px 2pㄞx 0px rgba(255,255,255,.5),
         7px 7px 20px 0px rgba(0,0,0,.1),
         4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
        border:none;
        background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);

        &::before,&::after{
            content:"";
            position: absolute;
            background: #f0094a;
            height:2px;
            width:0px;
            right:0;
            top:0;
            transition:400ms ease all;

        }
        &::after{
            //?
            right:inherit;
            top:inherit;
            left:0;
            bottom:0;

        }

        &:hover{
            background: transparent;
            border:none;
            color:#f0094a;
            // color:aqua;
            &:before,&:after{
                width:100%;
                transition:800ms ease all;
            }
        }

}