$button-height: 40px;

//製造出(偽元素)更為立體的陰影效果
$box-shadow-set: -4px -4px 5px rgba(255, 255, 255, 1),
  7px 7px 20px rgba(0, 0, 0, 0.4), 4px 4px 5px rgba(0, 0, 0, 0.3);

//統一所有偽元素的 transition
$transition-setting: all 500ms ease-in-out;

.button6 {
  position: relative;
  width: 130px;
  height: $button-height;
  padding: 0;
  border: none;
  border-radius: 5px;
  color: white;
  background: radial-gradient(
    circle,
    rgba(247, 150, 192, 1) 0%,
    rgba(118, 174, 241, 1) 100%
  );

  span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    line-height: $button-height;
  }

  &:hover {
    color: rgba(118, 174, 241, 1);
    background: transparent;
    box-shadow: none;
  }

  &::before,
  &::after {
    content: "";
    display: block;

    width: 0;
    height: 0.5px;

    box-shadow: $box-shadow-set;

    transition: $transition-setting;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover::before {
    width: 100%;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &:hover::after {
    width: 100%;
  }

  span {
    &::before,
    &::after {
      content: "";
      display: block;

      width: 1px;
      height: 0;

      box-shadow: $box-shadow-set;

      transition: $transition-setting;
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &:hover::before {
      height: 100%;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
    }

    &:hover::after {
      height: 100%;
    }
  }
}
