@use "../utils/breakpoints";
@use "../components/buttons/button-1";
@use "../components/buttons/button-2";
@use "../components/buttons/button-3";
@use "../components/buttons/button-4";
@use "../components/buttons/button-5";
@use "../components/buttons/button-6";
@use "../components/buttons/button-7";
@use "../components/buttons/button-8";
@use "../components/buttons/button-9";
@use "../components/buttons/button-11";
@use "../components/buttons/button-12";
@use "../components/buttons/button-13";
@use "../components/buttons/button-14";

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  height: calc(100vh - 2rem);
  background-color: #e0e5ec;
}
h1 {
  text-align: center;
  color: #353535;
  font: {
    family: "Cormorant Garamond", serif;
    size: 50px;
  }
}
p {
  text-align: center;
  font: {
    family: "Lato", sans-serif;
    size: 18px;
    weight: 300;
  }
  color: #676767;
}

button {
  margin: 20px;
  font: {
    family: "Lato", sans-serif;
  }
}

footer {
  text-align: center;
  font: {
    family: "Andale Mono", monospace;
    size: 18px;
    weight: 300;
  }
  color: #676767;
}

.buttons {
  text-align: center;
}
